@font-face {
    font-family: 'Goldie';
    src: url(fonts/Goldie-Boxing.ttf)
}

@font-face {
    font-family: 'DoHyeon';
    src: url(fonts/DoHyeon-Regular.ttf);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

* {
    margin: 10px;
    padding: 0;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'DoHyeon';
}

body {
    background-color: #19fff4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%2319fff4'/%3E%3Cstop offset='1' stop-color='%231251ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%2318faff'/%3E%3Cstop offset='1' stop-color='%231036ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%2318e9ff'/%3E%3Cstop offset='1' stop-color='%230f1bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%2317d9ff'/%3E%3Cstop offset='1' stop-color='%231b0dff'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2316c8ff'/%3E%3Cstop offset='1' stop-color='%23340bff'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%2316b7ff'/%3E%3Cstop offset='1' stop-color='%234d0aff'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%2315a6ff'/%3E%3Cstop offset='1' stop-color='%236608ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%231596ff'/%3E%3Cstop offset='1' stop-color='%238007ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%231485ff'/%3E%3Cstop offset='1' stop-color='%239a05ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%231373ff'/%3E%3Cstop offset='1' stop-color='%23b403ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%231362ff'/%3E%3Cstop offset='1' stop-color='%23cf02ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%231251ff'/%3E%3Cstop offset='1' stop-color='%23ea00ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.header {
    border-radius: 150px;
    text-align: center;
    border: 5px solid #fff;
    max-width: 600px;
    margin: auto;
    font-family: 'Goldie';
    box-shadow: 0 0 15px #ffffffab;
    font-size: 37px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-city {
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    padding: 0;
    width: 400px;
    background-color: #00d9ff28;
    border: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: box-shadow 0.5s;
    padding: 7px;
}

.search-bar-coordinates {
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    width: 400px;
    background-color: #00d9ff28;
    border: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: box-shadow 0.5s;
    box-shadow: none;
    padding: 7px;
}

.search-bar-city:hover,
.search-bar-coordinates:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 4px #ffffff80;
}

button:focus {
    outline: none !important;
    box-shadow: 0 0 5px #ffffffab;
}

div.search-bar-city input.search-box {
    font-size: 20px;
    width: 275px;
    padding: 5px;
    border: none;
    margin-left: 2px;
    border-radius: 10px;
    font-family: 'DoHyeon';
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'DoHyeon';
}

div.search-bar-coordinates input.search-box {
    font-size: 20px;
    width: 125px;
    padding: 5px;
    border: none;
    margin-left: 2px;
    border-radius: 10px;
    font-family: 'DoHyeon';
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'DoHyeon';
}

.button {
    margin: 0;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #00d9ff69;
    color: rgb(255, 255, 255);
    font-size: 20px;
    min-width: 70px;
    cursor: pointer;
    font-family: 'DoHyeon';
    transition: opacity 0.7s;
    opacity: 1;
}

.button:hover {
    transition: opacity 0.7s;
    opacity: 0.5;
}

.weather-grid-container,
.search-bar-grid-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.weather-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.weather-grid-item {
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: #00d9ff28;
    min-width: 210px;
    height: auto;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 1px;
    font-size: 21px;
    font-family: 'DoHyeon';
    box-shadow: 0 0 2px #ffffffab;
}

.weather-grid-item-main {
    min-width: 350px;
    font-size: 27px;
}

#cityName,
#lat,
#lon {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.search-bar-grid-item {
    height: auto;
    flex-wrap: wrap;
    margin: 0;
}

.search-bar-grid {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 1%;
}